# Business Central
BC_TENANT_ID=
BC_CLIENT_ID=
BC_CLIENT_SECRET=
 
BC_BASE_URL=
BC_ENVIRONMENT=
BC_API_VERSION=
BC_COMPANY_ID=
HTTP_BASE_URL=

# Mine - AzureAgentifyDemo

# FOUNDRY_PROJECT_ENDPOINT=
# AZURE_AI_KEY=
# AZURE_OPENAI_DEPLOYMENT=
# AZURE_OPENAI_API_VERSION=
# AZURE_CLIENT_ID=
# AZURE_CLIENT_SECRET=
# AZURE_TENANT_ID=

FOUNDRY_PROJECT_ENDPOINT=
AZURE_AI_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=